<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Html</h2>
<%= image_tag('static/rails/rails_welcome.png', width: 100) %>

<h2>CSS</h2>
<div class="bg-img"></div>

<%= tag.div(data: { vue: 'Sandbox' }) %>
